---
---
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="../css/base.css" type="text/css">
		<link rel="stylesheet" href="../css/blog.css" type="text/css">
		<link rel="alternate" type="application/atom+xml" title="Blog" href="feed.xml" />

		<title>Projects | Ben Kazemi</title>
	</head>
	<body>
		{% include analytics.html %}
		<h1>Hi, I'm <a href="/">Ben</a>.</h1>
		{% include menu.html %}
		<p>This content is also available as an <a href="feed.xml" class="feed">RSS feed</a>.</p>
{% assign posts = site.pages | where:"layout","post" | sort:"date" | reverse %}{% for post in posts %}{% assign prefix = post.url | truncate:6,"" %}{% if prefix == "/projects/" %}		<div class="entry">
			<h2><a href="{{ post.url | append: '\n' | replace: '/index.html\n', '/\n' | remove_first: '\n' }}" class="permalink">{{ post.title | xml_escape }}</a></h2>
			<p class="time">{{ post.date | date:'%B %-d, %Y' }}</p>
		</div>
{% endif %}{% endfor %}
		<div class="closing">Questions or comments? Drop me a line at <a href="mailto:hello@benkazemi.com">hello@benkazemi.com</a>.</div>
		{% include license.html %}
	</body>
</html>
