    <ul class="site_links">
      <li><a href="/blog/" class="page">blog</a></li>
      <span class="divider"></span>

      <li><a href="/projects/" class="page">projects</a></li>
      <span class="divider"></span>

      <li><a href="/resume.pdf" class="page">résumé</a></li>
      <span class="divider"></span>

      <li><a href="https://github.com/orbitinstasis" class="contact">github</a></li>
      <span class="divider"></span>

      <li><a href="https://www.linkedin.com/in/benkazemi/" class="contact">linkedin</a></li>
      <span class="divider"></span>

      <li><a href="mailto:ben.orbitronics@gmail.com" class="contact">email</a></li>
      <span class="divider"></span>

      <li><a href="/about.html" class="contact">about</a></li>     
    </ul>